*{
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
}
.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
.header{
  background: #333;
  color: white;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header a{
  color: white;
}
main{
  padding: 10rem;
}
h1{
  text-align: center;
}
.color-sale{
  color: orange;
  padding: 10px;
}
/*Estilos de Grid Productos*/
.item1 {
  margin-top: 3rem;
  border: 4px solid #7FB3D5;
  border-radius: 10px;
  padding: 4rem;
  }
.item2 {
  border: 4px solid #7FB3D5;
  border-radius: 10px;
  padding: 4rem;
  /*background-image: url(../images/BuzoOK.png);*/
  }
.item3 {
  border: 4px solid #7FB3D5;
  border-radius: 10px;
  padding: 4rem;
  }
.item4 {
  border: 4px solid #7FB3D5;
  border-radius: 10px;
  padding: 4rem;
  }
.item5 {
    border: 4px solid #7FB3D5;
    border-radius: 10px;
    padding: 4rem;
    }
  .grid-products {
  /*background-image: url(../images/Promo_1.jpg);*/
  display: grid;
  gap: 1rem;
  } 
/* Estilos Nav */
.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo{
  letter-spacing: 15px;
  font-size: 1.4em;
}
.icon-menu{
  display: none;
}
.navigation ul{
  margin: 0;
  padding: 0;
}
.navigation ul li{
  display: inline-block;
}
.navigation ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s;
  border-radius: 5px;
}
.navigation ul li a:hover{
  background: #7FB3D5
}
/*Estilos Footer (Redes Sociales)*/
footer {
  background: #333;
  display: flex;
  align-items: center;
  color: white;
  padding: 2rem 0;
  text-align: center;
  margin-top: 0.5rem;
}
.container-footer{
  align-items: center;
  justify-content: center;
}
.buttons {
  min-width: 700px;
  display: flex;
  justify-content:space-around;
}
.buttons a {
  text-decoration: none;
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #7FB3D5;
  color: #333;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  margin: 1rem;
}
.buttons a:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 625px){
  .navigation{
    width: 100%;
    margin-top: 1rem;
  }
  .navigation ul{
    display: none;
  }
  .navigation ul li{
    display: block;
  }
  .navigation ul.show{
    display: block;
  }
  .navigation ul li a{
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s;
    border-radius: 5px;
  }
  .navigation ul li a:hover{
    background: #7FB3D5
  }
  .icon-menu{
    display:block;
    cursor: pointer;
  }
}